<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <h1>Welcome to Madlibs</h1>
    <h3>Input the information below to get your Madlib:</h3>
    <form action="/madlib">
        What is a name of a person:
        <input type="text" name="person"><br><br>
        Please choose a color: 
        <select name="color">
            <option value=""></option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="pink">Pink</option>
            <option value="yellow">Yellow</option>
        </select><br><br>
        Input a Noun:
        <input type="text" name="noun"><br><br>
        Input an Adjective:
        <input type="text" name="adjective"><br><br>

        <input type="submit">
</body>
</html>